body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

div {
    box-sizing: border-box;
}

p, #center-desc {
    z-index: 2;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Montserrat, Ubuntu, sans-serif;
}

#sparticles-container {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    min-height: 500px;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: rgb(14, 18, 36);
    height: 100vh;
    min-height: 500px;
}

#topbar {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 32px);
    height: 70px;
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Tahoma, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

#center-image {
    z-index: 2;
    border-radius: 26px;
    box-shadow: 0 0 10px 3px white;;
    /* animation: moveUpDown 2s infinite; */
}

@keyframes glowing {
    0%, 100% {
        text-shadow: 0 0 20px white, 0 0 20px white, 0 0 20px white;
    }

    50% {
        text-shadow: 0 0 8px white, 0 0 8px white, 0 0 8px white;
    }
}

#center-title {
    z-index: 2;
    color: white;
    font-size: 40px;
    font-family: Poppins, Montserrat, sans-serif;
    text-shadow: 0 0 8px white, 0 0 8px white, 0 0 8px white;
    animation: glowing 2.5s infinite;
}

#center-desc {
    text-align: center;
}

#second-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: rgb(21, 26, 45);
}

.discord-status {
    max-width: 100%;
}
