body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    cursor: url('cursor-idle.png'), auto;
}

div {
    box-sizing: border-box;
}

p, #center-desc {
    z-index: 2;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Montserrat, Ubuntu, sans-serif;
}

#sparticles-container {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    min-height: 500px;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
     background-color: rgb(14, 18, 36);
    height: 100vh;
    min-height: 500px;
}

#topbar {
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 32px);
    height: 70px;
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}


#topbar ul {
    list-style-type: none;
    margin: 0;
    margin-right: -2px;
    padding: 0;
    display: flex;
    gap: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Tahoma, sans-serif;
    font-size: 16px;
}

#topbar ul li a {
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: transparent;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s;
}

#topbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

#menu-icon {
    display: none; 
}

#bottom-links {
    z-index: 4;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8px;
    margin: 16px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

#bottom-links a img {
    width: 50px;
    height: auto;
    border-radius: 12px;
    transition: 0.3s;
    padding: 8px;
}

#bottom-links a img:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

@media only screen and (max-width: 768px) {
    #topbar {
        flex-direction: row-reverse;
    }
    
    #topbar ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 80px; 
        left: 0;
        margin: 0;
        gap: 0;
        padding: 4px;
        background-color: rgba(0, 0, 0, 0.5); 
        width: calc(100% - 8px);
        border-radius: 16px; 
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4); 
        overflow: hidden; 
        transition: transform 0.3s ease-in-out; 
    }

    #topbar ul.show {
        display: flex;
        transform: translateY(0);
    }

    #topbar ul li {
        flex: auto;
        display: flex;
        text-align: center;
        padding: 4px;
    }

    #topbar ul li a {
        flex: 1;
        text-align: center;
        text-decoration: none;
        color: white;
        font-weight: bold; 
        font-size: 18px;
        border-radius: 16px;
        transition: background-color 0.3s ease; 
    }

    #topbar ul li a:hover {
        background-color: rgba(255, 255, 255, 0.15); 
    }

    #menu-icon {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: white;
        transition: transform 0.3s ease; 
    }

    #menu-icon.rotate {
        transform: rotate(90deg); 
    }

    #bottom-links {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

#center-image {
    z-index: 2;
    border-radius: 26px;
    box-shadow: 0 0 10px 3px white;;
    /* animation: moveUpDown 2s infinite; */
}

@keyframes glowing {
    0%, 100% {
        text-shadow: 0 0 20px white, 0 0 20px white, 0 0 20px white;
    }

    50% {
        text-shadow: 0 0 8px white, 0 0 8px white, 0 0 8px white;
    }
}

#center-title {
    z-index: 2;
    color: white;
    font-size: 40px;
    font-family: Poppins, Montserrat, sans-serif;
    text-shadow: 0 0 8px white, 0 0 8px white, 0 0 8px white;
    animation: glowing 2.5s infinite;
}

#center-desc {
    text-align: center;
}

#second-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 26px;
    width: 100%;
    min-height: 400px;
    padding: 16px;
    background-color: rgb(21, 26, 45);
}

#highlight-title {
    min-width: 400px;
    text-align: center;
    color: white;
    font-family: "ambit", Montserrat, sans-serif;
    font-weight: 900;
    font-size: 46px;
    text-shadow: 0 0 12px white;
}

@media only screen and (max-width: 1313px) {
    #highlight-title {
        min-width: 100%;
    }
}

#iframe-status {
    pointer-events: none;
    max-width: 100%;
    background-color: #1a1c1f;
    border-radius: 10px;
}

#hyperlink {
    display: inline-block;
    z-index: 3;
    width: 410;
    height: 210;
    max-width: 100%;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #121629a9;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #6f0000, #00014a);
    border-radius: 10px;
}

.scroll-animation {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.scroll-animation.scroll-active {
    opacity: 1;
    transform: translateY(0);
}

a:hover, button:hover, [onclick]:hover {
    cursor: url('cursor-select.png'), auto;
}

::selection {
  background-color: rgba(2, 145, 85, 0.485);
}

#third-content {
    width: 100%;
    min-height: 400px;
    padding: 16px;
    background-color: rgb(9, 11, 22);
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}

.project-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    background-color: rgb(16, 17, 36);
    border: 2px dashed darkslategray;
    border-radius: 8px;
}

.project-image-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.project-image-container img {
    margin-bottom: 25px;
    border-radius: 6px;
    border: 2px dotted darkslategray;
}

.project {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(21, 26, 45); 
    z-index: 2;
  }
  @media (min-width: 1200px) {
    footer {
        font-size: 1.5em; 
    }
}
